@media (min-width: 40em) {
	.section1 {
		max-width: 130rem;
		height: 600px;
		margin: 150px auto;
		display: flex;
		gap: 1em;
		font-size: clamp(1rem, 0.5rem + 3vw, 3rem);
	}
	.section-one {
		flex: 0 1 33.33%;
	}
	.section-two {
		flex: 0 1 33.33%;
	}
	.section-three {
		flex: 0 1 33.33%;
	}
	.section-two img,
	.section-three img {
		height: 45%;
		width: 100%;
		object-fit: cover;
		margin-bottom: 2rem;
	}

	.section1 div p:nth-child(4) {
		font-size: 0.7em;
	}
}
 /* PHOTO RESPONSIVE IS NOT DONE!!!!!!!!!!!! */
@media (max-width: 750px) {
	.section1 {
		height: fit-content;
		display: block;
	}
	.section1 div:first-child {
		font-size: clamp(1rem, 0.5rem + 3vw, 3rem);
	}
	.section1 div:not(:first-child) {
		min-width: 100%;
		height: 500px;
		margin: 10px 0;
	}
	.section-two img,
	.section-three img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}
