*,
*::before,
::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	font-family: Clarkson, "Proxima Nova", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: rgb(255, 255, 255);
	height: 100%;
}
/* ------------Wrapper-------------- */

.wrapper {
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

/* ------------HEADER---------------- */
.header {
	width: 100vw;
	display: grid;
	grid-template-columns: 250px auto 50px;
	grid-template-rows: 50px;
	grid-template-areas: "logo menu cart";
}
.header__logo {
	color: rgb(175, 82, 75);
	grid-area: logo;
	place-self: center;
	text-decoration: none;
	font-size: 1.5rem;
	font-weight: 700;
}
.menu__list {
	display: flex;
	grid-area: menu;
	list-style: none;
}
.menu__item {
	width: 100px;
	align-self: center;
}
.menu__link {
	color: rgb(175, 82, 75);
	text-decoration: none;
}
.trolly {
	display: flex;
	font-size: 1.5rem;
	color: rgb(175, 82, 75);
	grid-area: cart;
	justify-content: end;
	padding-right: 50px;
	text-decoration: none;
}
.fa-solid,
.number {
	align-self: center;
	padding: 0px 5px 0px 5px;
}

/*------------- IMAGES ----------------------------  */

._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

/* ------------MAIN Version N3 ----------------- */

.main {
	width: 100vw;
	background-color: rgb(71, 67, 62);
	display: flex;
	justify-content: center;
}
.main__wrapper {
	max-width: 1046px;
	height: fit-content;
	display: flex;
	flex-wrap: wrap;
}
.main__section {
	flex: 0 1 50%;
}
.main__section-left {
	/* display: block; */
	padding: 0px 0px 70% 0px;
}
.main__image-pic {
	padding: 40px 150px 200px 20px;
}
.main__section-right-title {
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	font-size: 4rem;
	color: white;
	line-height: 1.15;
	padding-bottom: 50px;
}
.main__section-right-pic {
	width: 100%;
	height: 50%;
}
.main__section-right-pic-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
}
.main__section-right-pic-img {
	flex: 0 1 33%;
}
.main__section-right-img-vegetables {
	width: 100%;
	height: 100%;
	object-fit: cover;
	padding: 40px 0px;
}
.main__section-right-pic-text {
	flex: 0 1 67%;
	color: white;
	display: flex;
	flex-direction: column;
	padding: 0px 80px 0px 30px;
	justify-content: center;
}
@media (max-width: 768px) {
	.main__section {
		flex: 0 1 100%;
	}
	.main__section-left {
		padding: 0px 0px 140% 0px;
	}

	.main__image-pic,
	.main__section-right-img-vegetables {
		padding: 8% 6%;
	}
	.main__section-right-title {
		width: 100%;
		height: fit-content;
		font-size: 4rem;
		line-height: 1.15;
		padding: 0px 150px 0px 6%;
	}
	.main__section-right {
		width: 100%;
		height: fit-content;
	}
	.main__section-right-pic-img,
	.main__section-right-pic-text {
		flex: 0 1 100%;
	}
	.main__section-right-pic-img {
		padding-bottom: 50%;
	}
	.main__section-right-img-vegetables {
		height: 160%;
	}
	.main__section-right-pic-text {
		padding: 0px 50px 15% 6%;
		font-size: 1.5rem;
	}
}

/* --------FOOTER -------------- */

footer p {
	display: inline;
	font-size: 2rem;
	font-weight: 700;
	background-image: linear-gradient(90deg, red, blue);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	filter: blur(2px);
}
footer {
	display: grid;
	grid-template-columns: 100px 200px 300px;
	grid-template-rows: repeat(2, 150px);
	grid-template-areas: "first two three";
	gap: 5px 10px;
	color: rebeccapurple;
	justify-content: center;
}

.first {
	background-color: black;
	grid-area: first;
}
.two {
	background-color: aqua;
	grid-area: two;
}
.three {
	background-color: yellowgreen;
	grid-area: three;
}
.fa-solid {
	color: red;
}
