*,
*::before,
::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	font-family: Clarkson, "Proxima Nova", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: rgb(255, 255, 255);
	height: 100%;
}
/* ------------Wrapper-------------- */

.wrapper {
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

/* ------------HEADER---------------- */
.header {
	width: 100vw;
	display: grid;
	grid-template-columns: 250px auto 50px;
	grid-template-rows: 50px;
	grid-template-areas: "logo menu cart";
}
.header__logo {
	color: rgb(175, 82, 75);
	grid-area: logo;
	place-self: center;
	text-decoration: none;
	font-size: 1.5rem;
	font-weight: 700;
}
.menu__list {
	display: flex;
	grid-area: menu;
	list-style: none;
}
.menu__item {
	width: 100px;
	align-self: center;
}
.menu__link {
	color: rgb(175, 82, 75);
	text-decoration: none;
}
.trolly {
	display: flex;
	font-size: 1.5rem;
	color: rgb(175, 82, 75);
	grid-area: cart;
	justify-content: end;
	padding-right: 50px;
	text-decoration: none;
}
.fa-solid,
.number {
	align-self: center;
	padding: 0px 5px 0px 5px;
}

/*------------- IMAGES ----------------------------  */

._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

/* ------------MAIN Version N3 ----------------- */

.main {
	width: 100vw;
	background-color: rgb(71, 67, 62);
	display: flex;
	justify-content: center;
}
.main__wrapper {
	max-width: 1046px;
	height: fit-content;
	display: flex;
	flex-wrap: wrap;
}
.main__section {
	flex: 0 1 50%;
	/* display: block; */
}
.main__section-left {
	display: block;
	padding: 0px 0px 70% 0px;
}

.main__image-pic {
	padding: 50px 100px 100px 30px;
}
.main__section-title {
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 4rem;
	color: white;
	line-height: 1.15;
}
.main__right-small {
}
.main__small-img {
}
._ibj {
}
.main__small-text {
}
.main__small-text1 {
}
.main__small-text2 {
}

/* ------------ MAIN Version N2 ----------------- */

/* .main {
	width: 100vw;
	height: 1000px;
	background-color: rgb(71, 67, 62);
	display: flex;
	justify-content: center;
	align-items: center;
}
@media (max-width: 1000px) {
	.main {
		height: fit-content;
		padding: 0px 40px 150px 40px;
	}
}
.main__wrapper {
	height: 80%;
	display: grid;
	gap: 1rem 5rem;
	grid-template-columns: repeat(2, 650px);
	grid-template-rows: repeat(2, 400px);
	grid-template-areas:
		"img title"
		"img minBox";
}
@media (max-width: 2000px) {
	.main__wrapper {
		display: grid;
		gap: 0.5rem 3rem;
		grid-template-columns: repeat(2, minmax(450px, 550px));
		grid-template-rows: repeat(2, minmax(250px, 400px));
	}
}
@media (max-width: 1000px) {
	.main__wrapper {
		height: fit-content;
		width: 100vw;
		grid-template-areas:
			"img "
			"title "
			"minBox";
		grid-template-columns: 100%;
		grid-template-rows: 100vh min-content 100vh;
	}
} */
/* .main__image {
	grid-area: img;
	display: flex;
	justify-content: flex-end;
	padding: 50px 100px 0px 0px;
}
@media (max-width: 1000px) {
	.main__image {
		width: 100vw;
		display: flex;
		justify-content: stretch;
		padding: 0%;
	}
}
.main__image-pic {
	width: 65%;
	height: 72%;
	object-fit: cover;
}
@media (max-width: 2000px) {
	.main__image-pic {
		min-width: 300px;
		object-fit: cover;
	}
}
@media (max-width: 1000px) {
	.main__image-pic {
		width: 100%;
		height: 100%;
		object-fit: cover;
		align-items: center;
		padding: 30px;
	}
}
.main__title {
	grid-area: title;
	color: white;
	font-size: 5rem;
	display: flex;
	align-items: flex-end;
} */
/* @media (max-width: 1000px) {
	.main__title {
		font-size: 4rem;
		padding: 0px 30px;
	}
}
.main__small {
	grid-area: minBox;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
@media (max-width: 1000px) {
	.main__small {
		height: fit-content;
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.main__small-img {
	width: 30%;
	height: 70%;
}
@media (max-width: 1000px) {
	.main__small-img {
		height: 100%;
		width: 100%;
		padding: 30px;
	}
}
.main__small-img-pic {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.main__small-text {
	width: 70%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	color: white;
	padding-left: 50px;
}
@media (max-width: 1000px) {
	.main__small-text {
		height: fit-content;
		padding: 0px 30px 0px 30px;
	}
} */

/* ----------- Main Version N1 ------------------ */
/* .main {
	max-width: 2500px;
	height: 80vh;
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-template-areas:
		"img title"
		"img minBox";
	background-color: rgb(71, 67, 62);
}
.main__image {
	height: inherit;
	grid-area: img;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}
.main__image-box {
	min-width: 300px;
	max-width: 800px;
	height: 90%;
	display: flex;
	align-items: center;
}
.main__image-box-image {
	width: 100%;
	height: inherit;
	object-fit: cover;
}
.main__title {
	grid-area: title;
	display: flex;
	align-items: center;
	padding: 50px 100px 0px 250px;
} */
/* .main__title p {
	color: white;
	font-size: 5rem;
	letter-spacing: 0.15rem;
}
@media (max-width: 1800px) {
	.main__title {
		padding: 50px 100px 0px 150px;
	}
	.main__title p{
		font-size: 3rem;
	}
}

.main__small {
	grid-area: minBox;
	display: flex;
	align-items: center;
	justify-content: center;
}
.main__small-box {
	height: 100%;
	display: flex;
	padding: 50px 100px 0px 250px;
}
@media (max-width: 1800px) {
	.main__small-box {
		padding: 50px 100px 0px 150px;
	}
} */
/* .main__small-img {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: start;
	padding-right: 50px;
}
.main__small-img img {
	max-width: 250px;
	min-width: 150px;
	height: 80%;
	object-fit: cover;
	box-sizing: border-box;
}
.main__small-text {
	display: flex;
	align-items: center;
	height: 80%;
}
.main__small-text-box {
	color: white;
	font-size: 1.5rem;
	line-height: 1.5;
} */

/* --------FOOTER -------------- */

footer p {
	display: inline;
	font-size: 2rem;
	font-weight: 700;
	background-image: linear-gradient(90deg, red, blue);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	filter: blur(2px);
}
footer {
	display: grid;
	grid-template-columns: 100px 200px 300px;
	grid-template-rows: repeat(2, 150px);
	grid-template-areas: "first two three";
	gap: 5px 10px;
	color: rebeccapurple;
	justify-content: center;
}

.first {
	background-color: black;
	grid-area: first;
}
.two {
	background-color: aqua;
	grid-area: two;
}
.three {
	background-color: yellowgreen;
	grid-area: three;
}
.fa-solid {
	color: red;
}
