*,
*::before,
::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	font-family: Clarkson, "Proxima Nova", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* ------------Wrapper-------------- */

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

/* ------------MAIN----------------- */

.main {
	width: 100vw;
	height: 80vh;
	background-color: rgb(71, 67, 62);
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-template-areas:
		"img title"
		"img minBox";
}
.main__image {
	height: inherit;
	grid-area: img;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}
.main__image-box {
	min-width: 300px;
	max-width: 90%;
	height: 90%;
	display: flex;
	align-items: center;
}
.main__image-box-image {
	width: 100%;
	height: inherit;
	justify-content: cover;
}
.main__title {
	grid-area: title;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 150px;
}
.main__title p {
	color: white;
	font-size: 5rem;
	letter-spacing: 0.15rem;
}
.main__small {
	grid-area: minBox;
	display: flex;
	padding: 0px 150px;
}
.main__small-img {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.main__small-img img {
	width: 100%;
	justify-content: cover;
}
.main__small-text {
	width: 50%;
	height: 100%;
	/* display: inline-block;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center; */
	padding-left: 60px;
	color: white;
	font-size: 1.5rem;
}
/* --------FOOTER----------- */

footer p {
	display: inline;
	font-size: 2rem;
	font-weight: 700;
	background-image: linear-gradient(90deg, red, blue);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	filter: blur(2px);
}
